.project_list_section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.project_detail {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px;
}
.project_detail:hover {
  cursor: pointer;
}
.project_title {
  font-weight: 600;
  font-size: 20px;
}
.project__created_date {
  color: #8e8e8e;
  font-weight: 400;
  font-size: 15px;
}
.drawer_header_section {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center;
}
.filter_main_heading{
  display: flex;
}
