.skill_service_detail {
  border: 1px solid #e5e6eb;
  border-radius: 5px;
  padding: 10px;
}
.common_header_button {
  background-color: #fff !important;
  text-transform: capitalize !important;
  color: #7ac144 !important;
}
