.admin_main_heading {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  padding: 4px;
  letter-spacing: 0.1rem;
}
.main_section_heading {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  padding: 4px;
  font-family: 'Preahvihear';
  letter-spacing: 0.1rem;
}

.main_section_description {
  font-size: 16px;
  font-weight: 600 !important;
  width: 100%;
  padding: 4px;
  font-family: 'Poppins';
  letter-spacing: 0.1rem;
}
.main_section_textfield_label {
  color: #000000;
}
.circular_icon {
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  height: 40px !important;
  width: 40px !important;
  padding: 7px;
  color: #7ac144 !important;
  margin: 0 5px;
}

.save_button {
  background-color: #7ac144 !important;
  color: #fff !important;
  text-transform: capitalize !important;
  white-space: nowrap;
}
.disable_button {
  background-color: #ddd !important;
  color: #fff !important;
  text-transform: capitalize !important;
  white-space: nowrap;
}
.cancel_button {
  border: 1px solid #7ac144 !important;
  color: #7ac144 !important;
  text-transform: capitalize !important;
  margin-left: 10px !important;
}
.dialog_heading {
  text-align: center;
  font-weight: 600 !important;
}
.dialog_section {
  padding: 20px;
}
.sub_heading {
  color: #8e8e8e;
}
.common_button {
  background-color: #7ac144 !important;
  color: #fff !important;
  text-transform: capitalize !important;
}
.developer_title_desc {
  display: flex;
  flex-direction: column;
}
.cancel_icon {
  color: #f11f12 !important;
}
.width-main {
  width: 83%;
  height: 100vh;
  background-color: #f1f2f6;
}
.main_tab_section {
  display: flex;
  flex-direction: column;
  margin: 0px 12px;
  // height: 90%;
  height: 100%;
}
.inner_container {
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.below_main_tab_section {
  background-color: #fff;
  border-radius: 5px;
  height: 75%;
  margin: 0px 0px;
  padding: 10px !important;
  overflow-y: auto;
  overflow-x: hidden;
}
.below_main_detail_section {
  background-color: #fff;
  border-radius: 5px;
  height: 85%;
  margin: 10px 0px;
  padding: 10px !important;
  overflow-y: auto;
  overflow-x: hidden;
}
.tab_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 8px 0px;
}
.project_detail_sub_heading {
  color: #8e8e8e;
  word-wrap: break-word;
}
.orders_table_height {
  height: 82%;
  border: none !important;
}
.set_box_shadow {
  box-shadow: none !important;
}

.customer_list_table {
  padding: 0px !important;
}
.tablecell_height {
  line-height: 3 !important;
}

.profile_body_section {
  height: 100%;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  flex-direction: column !important;
  padding: 10px;
  margin: 8px 12px;
}

.user_profile_header_Section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.username_profile_Section {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.user_profile_icon {
  height: 90px !important;
  width: 90px !important;
  color: #f1f2f6 !important;
  border-radius: 50%;
  background-color: #e5e5e5;
}
.username_and_position {
  display: flex !important;
  flex-direction: column !important;
  margin-left: 8px;
}
.username_text {
  font-size: 18px;
  font-weight: bold;
}
.client_profile_tab button {
  text-transform: capitalize;
}
.border_common_button {
  border: 1px solid #7ac144 !important;
  color: #7ac144 !important;
  text-transform: capitalize !important;
  width: 200px;
}
